<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<!-- Navbar -->
<div th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></div>

<!-- Login Form -->
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form th:action="@{/users/login}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter email" required />
            <div class="text-danger" th:if="${param.error}">
                <p>Invalid email or password.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required />
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>

    <div class="text-center mt-3">
        <p>Don't have an account? <a class="register-link" href="/users/register">Register here</a></p>
    </div>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>