<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'events'})}"></div>

<div class="container mt-5">
    <h2>Event List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Organizer Email</th>
            <th scope="col">Event Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date And Time</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the events list -->
        <tr th:each="event : ${events}">
            <td th:text="${event.organizerEmail}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.dateAndTime()}"></td>
            <td><a th:href="@{/events/{id}(id=${event.id})}" class="btn btn-primary">Event details</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>